/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.middlepicture {
	background-image: url("../img/mid-page-accent.jpg");
	height: 135px;
	margin-top: 30px;
	background-size: contain;
}

.circlelogo {
	background-image: url("../img/header-img.png");
	width:200px;
	height: 200px;
	background-repeat: no-repeat;
    background-size: 200px;
    display:none;
}
.mobilelink {
	text-align: center;
	padding-bottom: 30px;
}

.toplogo {
    padding-bottom: 40px;
	background-image: url("../img/logo.png");
	top: 50%;
	height: 40px;
	width:200px;
	background-repeat: no-repeat;
}

body {
	width:400px;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
}

nav {
	flex-grow:1;
    display: flex;
    width: 100%;
	justify-content: space-between;
    margin-right: 0;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}

.about {
    margin-top: 20px;
}

.subcontainer {
	display:flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features {
	margin-right:25px;
}

.lower-container {
	display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.lower-container div {
	margin:30px 0;
	vertical-align: top;
	width: 100%;
}

html body .toppart .title button.startbutton {
	color:black;
	background-color: white;
	width: 140px;
	padding: 5px 0px;
	border: 1px solid black;
	margin-top:20px;
}

footer {
	margin-top: 30px;
}

.bottomthing {
	text-align:center;
	margin-top:50px;
}

nav a { 
	text-decoration: none;
    color:gray;
    margin: 0 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

nav a:first-child {
    border-top: 1px solid gray;
    padding-top: 30px;
}

a:hover {
	color: pink; 
	transition: 1s;
	background-size: 4px 50px;
}

p {
	font-family: 'Bahianita', cursive;
	font-size: 22px;
}

header {
	background-color: white;;
	height: 450px;
    position: inherit;
	width:400px;;
	display:flex;
	align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.title {
	font-size: 50px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Bangers', cursive;
}

.circle {
	height:200px;
	margin: 0 30px;
}

.toppart {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align:center;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}

hr {
	border: .5px solid black;
}

.toppart .title button.startbutton:hover{
	background-color: green;
	color: pink;
	transition: 2s;
}

hr {
	margin: 30px 0;
}

@media(min-width:500px) {

    body {
		width: 500px;
	}
    
    header {
        display:flex;
        flex-direction: column-reverse;
        position:fixed;
        top: 0%;
		height: 70px;
        width:500px;
        background-color: lightgray;
	}
    
    .toplogo {
        padding-bottom: 0;
	}
    
    nav {
        flex-direction: row;
        justify-content: space-between;
		width: 100%;
		margin-right: 0;
		margin-top: 10px;
		
    }

    nav a:first-child {
        border-top: 0;
        padding-top: 0;
    }
    
    nav a {
    border-bottom: 0;
    padding-bottom: 0;
    }
    
    .circlelogo {
		display:none;
	}
    
    .toppart {
		margin-top: 100px;
    }
    
    .subcontainer {
        flex-direction: row;
    }

	.middlepicture {
		background-size: contain;
    }
    
    .about{ margin-top: 0px;
    }
    
    .lower-container {
        flex-direction: row;
    }
    
    .lower-container div {
        margin: 30px 0;
        width: 30%;
    }
}

@media(min-width:800px) {
    
    .circlelogo {
        display: block;
    }
    body {
        width:800px;
    }
    header {
        width: 800px;
        flex-direction: row;
        height: 40px;
    }
    nav {
        margin-top: 0;
    }
    .toppart {
        margin-top: 60px;
    }
}